* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    list-style: none;
    display: flex;
}
ul>li{
    margin-right: 10px;
}
ul>li>a{
    text-decoration: none;
}
ul>li>a:hover{
    text-decoration: underline;
}
.imagens {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: darkgray;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sobre {
    display: flex;
}
.Mural-cliente{
    background-color: rgb(0, 255, 136);
    height: 300px;
    border: solid 5px maroon;
    margin-top: 20px;
}